<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto setborder">
      <div class="row">
          <div class="col-md-8 mx-auto logo1">
            <h3> {{bank.bank_name}}</h3>
          </div>
      </div>
      
          <div class="row">
            <div class="col-md-12 mx-auto logo2">
              <h4> Bank id : {{bank.bankid}} </h4>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mx-auto logo2">
            <h4> Branch : {{bank.branch}} </h4>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4> Address : {{bank.address}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4> City : {{bank.city}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4> District : {{bank.district}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto logo2">
          <h4> state : {{bank.state}} </h4>
        </div>
      </div>
    <div class="row">
        <div class="col-md-12 mx-auto logo2">
               <span class="nothanks" routerLink="/"> <-- Go back </span>  
        </div>
    </div>
    </div>
  </div>  
</div>